
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 70%;
    
}
.nav-list{
    display: flex;
    align-items: center;
    width: 70%;
    /* background-color: rgb(53, 53, 32); */
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: rgb(18, 228, 147);
}
.right-nav{
    /* background-color: blue; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 23px;
}
#search{
    padding: 7px;
    font-size: 14px;
    border: 2px solid grey;
    border-radius: 7px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../images/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

/* humburger */
.humburger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 5px;
    margin: 3px 3px;
}
.firstsection{
    height: 100vh;
}
.firsthalf{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondhalf{
    width: 50%;
}
.secondhalf img{
    width: 108%;
    display: block;
    margin: auto;
    border: 2px solid gray;
    border-radius: 3px;
    margin: 0 15%;
} 
.text-big{
    font-size: 27px;
}
.texr-small{
    font-size: 18px;
}
.btn{
    padding: 5px 10px;
    margin: 15px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    vertical-align: middle;

}
.section{
    /* height: 280px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 12px;
}
.section-left{
 
    flex-direction: row-reverse;
    
}
.sectiontag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thombnail img{
    width: 250px;
}
.paras{
    padding: 50px;
    
}
.contact{
    
    background-color: rgb(235, 231, 231);
    /* height: 85vh; */
   
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    max-width: 500px;
    margin: auto;
}
.form input{
   
    width: 100%;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 6px;
    margin-top: 20px;
} 
.btn-dark{
    color: black;
    border: 2px solid rgb(122, 95, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#textarea{
    width: 100%;
    border: 2px solid grey;
    border-radius: 9px;
    margin-top:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.text-footer{
    text-align: center;
    color: blanchedalmond;
    padding: 12px;
}

/* media query  */
@media only screen and (max-width:1060px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 450px;
    }
    .right-nav{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-right: 0;
    }
    #search{
        width: 35%;
    }
    .humburger{
        display: block;
    }
    .h-nav{
        height: 60px;
    }
    .v-class{
        visibility: hidden;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .firsthalf{
        text-align: center;
    }
    .paras{
        padding: 10px 0;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .secondhalf img{
        width: 84%;
        margin: auto;
    }
    .firstsection{
        height: 70vh;
    }
}